h3{
    margin: 30px auto;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p{
    margin: 10px;
    font-size: 1rem;
    text-align: center;
    span{
        text-transform: uppercase;
        font-weight: 900;
        color: #ad5718;
    }
}