:root {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}
app-add-topic {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
nav {
    @media (min-width: 600px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    padding: 5px 10px;
    background-color: #ad5718;
    color: white;
    div {
        margin: 20px auto 30px;
        font-size: 1.1rem;
        text-align: center;
        letter-spacing: 1px;
    }
    ul {
        text-align: right;
        li {
            display: inline-block;
            margin: 5px;
            padding: 5px;
            border: 1px solid transparent;
            font-size: 1.1rem;
            a {
                text-decoration: none;
                color: white;
            }
            button {
                padding: 3px 5px;
                border-radius: 5px;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                border: 1px solid #fff;
                background-color: #fff;
                &:active {
                    color: #fff;
                    box-shadow: 0 0 7px #fff;
                    border-color: #7618ad;
                    background-color: #7618ad;
                }
            }
        }
        .active {
            border: 1px solid #ffffff;
            border-radius: 5px;
        }
    }
}
