<nav>
    <div>
        <h1>{{title}}</h1>
    </div>
    <ul>
        <li
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
        >
            <a [routerLink]="['/']">Home</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/posts']">Posts</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/about']">About</a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/edit']">Edit</a>
        </li>
        <li>
            <button (click)="authorisationService.changeStatus()">{{authorisationService.buttonText}}</button>
        </li>
    </ul>
</nav>
<app-modal *ngIf="funService.openedModal"></app-modal>
<router-outlet></router-outlet>
