<h4>Subcjet: Wczytywany</h4>
<div class="post">
    <p class="subcjet">Tytuł: wczytywany</p>
    <p class="author">
        <span>Autor:</span>
        Jak kowalski
    </p>
    <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa error sapiente, a aliquam voluptatibus, ipsam quidem quas sed, dolorum consectetur est nemo explicabo vero! Nihil dolor harum illum minima incidunt.
    </p>
</div>
<div class="buttons">
    <button>Homepage</button>
    <button>Back to posts</button>
</div>
