<form
    [formGroup]="topicForm"
    (ngSubmit)="addTopic()"
>
    <h4>Add new topic</h4>
    <label for="topic">
        <div>
            <p>New topic</p>
        </div>
        <input
            formControlName="subject"
            type="text"
            id="topic"
            class="subject"
        >
    </label>
    <label for="author">
        <div>
            <p>Nick</p>
        </div>
        <input
            formControlName="author"
            type="text"
            id="author"
            class="author"
        >
    </label>
    <label for="text">
        <p>Message:</p>
        <textarea
            formControlName="text"
            id="text"
            cols="30"
            rows="10"
        ></textarea>
    </label>
    <div class="actions">
        <button
            type="submit"
            [disabled]="topicForm.invalid"
        >
            Add a topic
        </button>
        <button
            type="button"
            (click)="funService.cancleTopic()"
        >
            Cancle
        </button>
    </div>
</form>
