h3 {
    margin: 30px auto;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.subject {
    padding: 15px;
    p {
        margin: 10px 0;
        text-align: center;
        a {
            text-decoration: none;
            color: #ad5718;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}