<h3 *ngIf="subjects.length!==0">Posts:</h3>
<div class="subject">
    <p *ngFor="let subject of subjects">
        Subject:
        <a
            [routerLink]="['/posts', subject.subjectId]"
            [queryParams]="{'subjectId' : subject.subjectId}"
        >
            {{subject.subject}}
        </a>
    </p>
</div>
<h3 *ngIf="subjects.length===0">
    No topics are available, please add new topic
</h3>
<div class="actions">
    <button (click)="funService.newTopic()">Add a topic</button>
    <button (click)="funService.HomePage()">Homepage</button>
</div>
