<h3
    class="empty"
    *ngIf="posts.length===0"
>
    No topics are available, please add new topic
</h3>
<div>
    <div
        class="topic"
        *ngFor="let topic of funService.filterSubjects()"
    >
        <h4>
            Title:
            <span (click)="activTopic(topic.subjectId)">{{topic.subject}}</span>
        </h4>
        <div
            class="post"
            *ngFor="let post of postsBySubject(topic.subjectId)"
            [class.active]="activeSubject[topic.subjectId].isActive"
        >
            <h6>
                Author:
                <span>{{post.author}}</span>
            </h6>
            <p>
                <span>Text:</span>
                {{post.text}}
            </p>
            <div class="actions">
                <button (click)="funService.editPost(post)">Edit</button>
                <button (click)="funService.deletePost(post.subjectId, post.postId)">Delete</button>
            </div>
        </div>
    </div>
</div>
<div
    *ngIf="posts.length===0"
    class="actions"
>
    <button
        type="button"
        (click)="funService.PostPage()"
    >
        posts
    </button>
</div>
