h3 {
    margin: 30px auto;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p {
    margin: 15px;
    font-size: 1rem;
    text-align: center;
}
.list {
    display: flex;
    justify-content: center;
    margin: 10px;
    ol {
        display: inline-block;
        max-width: 300px;
        margin: 10px auto;
        font-size: 1rem;
        li{
            margin: 5px;
        }
    }
}