<h3>Welcome SPA!</h3>
<p>
    This aplication is build in Angular CLI 10.0.3.
</p>
<p>Solutions applied:</p>
<div class="list">
    <ol>
        <li>RWD</li>
        <li>Angular routing.</li>
        <li>Authorisation guard.</li>
        <li>Services.</li>
        <li>
            Modal - the same component at adding new topic and post, post's edition.
        </li>
        <li>Reactive forms with validations.</li>
    </ol>
</div>
<p>To edit posts log in.</p>
<div class="actions">
    <button (click)="funService.PostPage()">Go to posts</button>
</div>
